body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.header{
  text-align: center;
  border:1px solid black;
  padding: 12px;
  font-size: 20px;
  background-color:rgb(199, 213, 199)
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea:focus {
  background-color:rgb(199, 210, 199)
}

input[type=text]:focus {
  background-color:gold;
}

input[type=text]:hover {
  background-color: greenyellow;
}

input[type = submit] {
  background-color:rgb(199, 210, 199);
  padding: 12px;
  color: black;
  cursor: pointer;
  border:none
}

input[type = submit]:hover {
  background-color: green;
}

.container {
  background-color: rgb(255, 255, 253);
  padding: 10px;
  border-radius: 5px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



